body {
    padding-top: 15px;
    padding-top: 80px;
    padding-bottom: 10px;
}
img {
    max-height: 50% !important;
    max-width: 30% !important;
}




.lol {
    
    background: url(doctor.png) center center no-repeat;
    background-size: contain;
    background-position-x: right;
    position: absolute;
    right: 0;
    width: 310px;
    bottom: 0;
    paddind-top: 40px !important;
    height: 225px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



