@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <div class="form-inline my-2 my-lg-0 animate" data-animate="fadeInUp" data-delay="200">

        <h1>BEM VINDO</h1>
        <h1>MEU MEDICO</h1>
        </br>
        </br>


        <a href="~/Medicos">Listar Medicos</a>


    </div>
    </div>



