@model teste.Especialidades

@{
    ViewBag.Title = "Excluir";
}

<h2 align="center">Excluir</h2>

<h3 align="center"> TEM CERTEZA QUE QUER DELETAR ESSE REGISTRO?! </h3>
<div>
    <h4>Especialidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
